#pendulum unity project folders to ignore
benchmarks/unitySim/Library
benchmarks/unitySim/projectSettings
benchmarks/unitySim/Temp



#file formats
*.info
*.asset
*.prefs
*.meta
*.csv
*.unity
*.meta
*.mat
*.fbx
*.csproj
*.sln
